@page
@model AceJobAgency.Pages.ChangePasswordModel
@{
}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Change Password</h1>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <p>@error.ErrorMessage</p>
                    }
                </div>
            }

            <form method="post">
                @Html.AntiForgeryToken()

                <div class="mb-3">
                    <label class="form-label" asp-for="CModel.Email">Email Address</label>
                    <input type="text" asp-for="CModel.Email" class="form-control" />
                    <span asp-validation-for="CModel.Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="CModel.CurrentPassword">Current Password</label>
                    <input type="password" asp-for="CModel.CurrentPassword" class="form-control" />
                    <span asp-validation-for="CModel.CurrentPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="CModel.NewPassword">New Password</label>
                    <input type="password" asp-for="CModel.NewPassword" class="form-control" />
                    <span asp-validation-for="CModel.NewPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="CModel.ConfirmNewPassword">Confirm New Password</label>
                    <input type="password" asp-for="CModel.ConfirmNewPassword" class="form-control" />
                    <span asp-validation-for="CModel.ConfirmNewPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>