@page
@model AceJobAgency.Pages.ForgetPasswordConfirmModel
@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<h2>Email Sent</h2>
<p>If the email you entered is associated with an account, you will receive a reset link.</p>
