@page
@model AceJobAgency.Pages.LoginModel
@{
}

<script src="https://www.google.com/recaptcha/api.js?render=6LdUSdYqAAAAAKUBcLHvJVwicRrLyC9HIQwpPofi"></script>

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Login</h1>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <p>@error.ErrorMessage</p>
                    }
                </div>
            }

            <form method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()

                <input type="hidden" asp-for="RecaptchaToken" id="RecaptchaToken" />

                <div class="mb-3">
                    <label class="form-label" asp-for="LModel.Email">Email Address</label>
                    <input type="text" asp-for="LModel.Email" class="form-control" />
                    <span asp-validation-for="LModel.Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="LModel.Password">Password</label>
                    <input type="password" asp-for="LModel.Password" class="form-control" />
                    <span asp-validation-for="LModel.Password" class="text-danger"></span>
                </div>
                <p>
                    <a asp-page="/ForgetPassword">Forgot Password?</a>
                </p>

                <div class="mb-3 form-check">
                    <input type="checkbox" asp-for="LModel.RememberMe" class="form-check-input" />
                    <label class="form-check-label" asp-for="LModel.RememberMe">Remember Me?</label>
                </div>
                <div class="mb-3">
                    <a href="/ChangePassword" class="btn btn-link">Change Password</a>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary" id="loginButton">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById("loginButton").addEventListener("click", function (event) {
        event.preventDefault(); // Prevent default form submission
        grecaptcha.ready(function () {
            grecaptcha.execute('6LdUSdYqAAAAAKUBcLHvJVwicRrLyC9HIQwpPofi', { action: 'login' }).then(function (token) {
                console.log("ReCaptcha Token:", token); // Log the token
                document.getElementById("RecaptchaToken").value = token;
                document.forms[0].submit(); // Submit the form after setting the token
            });
        });
    });
</script>