@page
@model AceJobAgency.Pages.ResetPasswordConfirmModel
@{
    ViewData["Title"] = "Password Reset Successful";
}

<h2>Password Reset Successful</h2>
<p>Your password has been successfully reset. <a href="/Login">Login</a></p>
